
:root {
	color-scheme: light dark;

	--color-sun: #ffb685;
	--color-moon: #85acff;
}

body {
	/* Background colors */
	--color-bg-main: #fff;
	--color-bg-light: rgba(100,100,100,0.1);
	--color-bg-heavy: rgba(100,100,100,0.2);
	--color-bg-accent: rgba(134, 167, 240, 0.3);

	/* Text / element colors */
	--color-text-heading: #333;
	--color-text-body: #444;
	--color-text-light: #666;

	--color-text-link: rgb(79, 99, 144);
	--color-text-link-active: rgb(79, 99, 144);
	--color-text-link-visited: rgb(79, 99, 144);
}

body[data-color-scheme='dark'] {
	/* Background colors */
	--color-bg-main: #333;
	--color-bg-light: rgba(255,255,255,0.1);
	--color-bg-heavy: rgba(255,255,255,0.2);
	--color-bg-accent: rgba(134, 167, 240, 0.3);

	/* Text / element colors */
	--color-text-heading: #fff;
	--color-text-body: #bbb;
	--color-text-light: #888;

	--color-text-link: rgb(134, 167, 240);
	--color-text-link-active: rgb(134, 167, 240);
	--color-text-link-visited: rgb(134, 167, 240);
}

@media (prefers-color-scheme: dark) {
	body {
		/* Background colors */
		--color-bg-main: #333;
		--color-bg-light: rgba(255,255,255,0.1);
		--color-bg-heavy: rgba(255,255,255,0.2);
		--color-bg-accent: rgba(134, 167, 240, 0.3);
	
		/* Text / element colors */
		--color-text-heading: #fff;
		--color-text-body: #bbb;
		--color-text-light: #888;
	}

	body[data-color-scheme='light'] {
		/* Background colors */
		--color-bg-main: #fff;
		--color-bg-light: rgba(100,100,100,0.1);
		--color-bg-heavy: rgba(100,100,100,0.2);
		--color-bg-accent: rgba(100,100,100,0.3);
	
		/* Text / element colors */
		--color-text-heading: #333;
		--color-text-body: #444;
		--color-text-light: #666;
	}
}




/* rgba(134, 167, 240, 0.3) */
/* rgba(173, 199, 255, 0.3); */
