
body, html {
	height: 100%;
	background: #fff url('../images/bg.png') top left repeat;
}

::selection {
	color: #888;
	background: #222;
	text-shadow: none;
}

#wrapper {
	padding: 0;
	min-height: 100%;
	position: relative;
}
	
.centered-content {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}



/* ==  Header  == */

#header-wrapper {
	width: 100%;
	margin: 0;
	padding: 0 0 12px;
	overflow: hidden;
}

	#header {
		color: #aaa;
		background: #132530;
		box-shadow: 0 6px 6px #111;
/*		border-bottom: 35px solid #333;*/
	}

		#header h1 {
			color: #fff;
			font-size: 36px;
			font-size: 3.6rem;
			font-weight: 500;
			padding: 15px 0px 10px;
			font-family: Overlock, sans-serif;
			text-shadow: 0 2px 1px #012;
		}

		#header h1 a,
		#header h1 a:hover {
			color: inherit;
			text-decoration: none;
		}



/* ==  Content Area  == */

#content {
	padding: 0;
	min-height: 300px;
	position: relative;
}

	.content-section {
		padding: 50px 0 50px;
	}

	#content .content-section:last-of-type {
		padding-bottom: 275px;
		border: 0;
	}



/* ==  Content Typography  == */
	
	h2 {
		color: #555;
		text-shadow: none;
		font-weight: normal;
		margin-bottom: 25px;
		text-shadow: 1px 1px 1px #fff;
		font-family: DistrictThin, sans-serif;
	}

	p {
		color: #333;
		line-height: 1.4;
		font-size: 18px;
		font-size: 1.8rem;
		margin: 10px 25px;
		text-shadow: 0px 1px 1px #eee;
	}

	a {
		color: #5B7C8F;
	}

	a:hover {
		text-decoration: underline;
	}

	pre {
		font-size: 16px;
		font-family: 'Ubuntu Mono', monospace;
	}



/* ==  Open source works panels  == */

.open-source {
	padding: 25px 15px 0;
}

	.open-source .panel {
		min-height: 200px;
		border-radius: 10px;
		border: 1px transparent solid;
		background-color: #fff;
		background-color: rgba(255,255,255,0.4);
		transition: background-color, border-color 0.25s linear;
	}

		.open-source .panel:hover {
			border-color: #ccc;
			background-color: rgba(255,255,255,0.6);
		}

		.open-source .panel h3 {
			font-size: 16px;
			font-size: 1.6rem;
			font-family: Overlock, sans-serif;
		}

		.open-source .panel p {
			font-size: 14px;
			font-size: 1.4rem;
			margin: 0 0 15px;
			padding: 0;
		}



/* ==  Footer  == */

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 12px;
	font-size: 1.2rem;
	padding-top: 12px;
	overflow: hidden;
}

	#footer-inner {
		height: 150px;
		background: #132530;
		border-top: 1px #222 solid;
	}

		#footer-inner .row {
			position: relative;
		}

			#footer p {
				color: #fff;
				padding: 50px 0;
				font-size: 12px;
				font-size: 1.2rem;
				text-shadow: 1px 1px 1px #012;
			}

			#footer a {
				color: #888;
			}

			#footer a:hover {
				color: #fff;
			}

			#footer .social-icons {
				position: absolute;
				top: 50px;
				right: 0px;
			}

				#footer .social-icons li {
					display: inline-block;
				}



/* ==  Mobile styles  == */

@media only screen and (max-width: 767px) {
	
	#wrapper {
		padding: 10px 0;
	}
	
	#header {
		border-bottom-width: 2px;
	}
	
	#header h1 {
		font-size: 32px;
		font-size: 3.2rem;
		border-bottom: 2px #468 solid;
	}
	
	.open-source .panel {
		min-height: auto;
	}
	
}
