
body, html {
	height: 100%;
	background: #fff url('../images/bg.png') top left repeat;
}

::selection {
	color: #888;
	background: #222;
	text-shadow: none;
}

#wrapper {
	padding: 0;
	min-height: 100%;
	position: relative;
}



/* ==  Header  == */

#header-wrapper {
	width: 100%;
	margin: 0;
	padding: 0 0 12px;
	overflow: hidden;
}

	#header {
		color: #aaa;
		background: #132530;
		box-shadow: 0 6px 6px #111;
/*		border-bottom: 35px solid #333;*/
	}

		#header h1 {
			color: #fff;
			font-size: 36px;
			font-size: 3.6rem;
/*			font-style: italic;*/
			font-weight: 500;
			padding: 15px 0px 5px;
			font-family: Overlock, sans-serif;
			text-shadow: 0 2px 1px #012;
		}

		#header h1 a,
		#header h1 a:hover {
			color: inherit;
		}



/* ==  Navigation  == */

#nav {
	padding: 15px 0;
}

	#nav ul {
		margin: 0;
		padding: 0;
	}

		#nav ul:after {
			display: block;
			visibility: hidden;
			content: " ";
			height: 0;
			line-height: 0;
			clear: left;
		}

		#nav li {
			margin: 0;
			float: left;
/*			font-style: italic;*/
			padding-right: 40px;
		}

		#nav li:last-of-type {
			padding-right: 0;
		}

		#nav a {
			color: #888;
			font-size: 15px;
			font-size: 1.5rem;
			font-family: ArchitectsDaughter;
			text-shadow: 1px 1px 0px #fff;
		}
		
		#nav a:hover {
			color: #555;
			text-decoration: none;
		}



/* ==  Content Area  == */

#content-wrapper {
	padding: 0;
	min-height: 300px;
	position: relative;
}

	#content {
		
	}

		.content-section {
			padding: 50px 0 100px;
			border-bottom: 1px #555 solid;
		}

		#content .content-section:last-of-type {
			padding-bottom: 275px;
			border: 0;
		}

		.content-section.darker-1 {
			background: #88888c;
			border-color: #aaa;
		}



/* ==  Loading/Messages  == */

#loading {
	width: 150px;
	height: 300px;
	margin: auto;
	opacity: 0;
	position: absolute;
}



/* ==  Content Typography  == */
	
	h2 {
		color: #555;
		text-shadow: none;
		font-weight: normal;
		margin-bottom: 25px;
	}

	p {
		color: #333;
		line-height: 1.4;
		font-size: 18px;
		font-size: 1.8rem;
		margin: 10px 25px;
		text-shadow: 0px 1px 1px #eee;
	}

	a {
		color: #5B7C8F;
	}

	a:hover {
		text-decoration: underline;
	}

	pre {
		font-size: 16px;
		font-family: 'Ubuntu Mono', monospace;
	}



/* ==  Footer  == */

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 12px;
	font-size: 1.2rem;
	padding-top: 12px;
	overflow: hidden;
}

	#footer-inner {
		height: 150px;
		background: #132530;
		border-top: 1px #222 solid;
/*		box-shadow: 0 -6px 6px #666;*/
	}

		#footer p {
			color: #fff;
			padding: 50px 0;
			font-size: 12px;
			font-size: 1.2rem;
			text-shadow: 1px 1px 1px #012;
		}

		#footer a {
			color: #888;
		}

		#footer a:hover {
			color: #fff;
		}



