
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html, body, #root {
	height: 100%;
	min-height: 100%;
}

body {
	background: var(--color-bg-main);

	/* NOTE: This style is added dynamically by JS */
	/* transition: background linear .1s; */
}

#root {
	display: flex;
	flex-direction: column;
	padding: 2rem;
}





/* ===== Main Heading ===== */

header {
	padding: 2rem;
	display: flex;
	flex-direction: row;
}

	header > h1 {
		flex-grow: 1;
	}





/* ===== Main Content ===== */

main {
	padding: 2rem;
}





/* ===== Links ===== */

aside#links {
	padding: 2rem;
	flex-grow: 1;
}





/* ===== Footer ===== */

footer {
	padding-top: 4rem;
}





/* ===== Typography ===== */

h1, h2, h3, h4, h5, h6,
p, small, a, li, dt, dd {
	font-family: 'Open Sans', sans-serif;
}

code, pre {
	font-family: 'Source Code Pro', monospace;
}

h1 {
	color: var(--color-text-heading);
	font-size: 3rem;
	font-weight: 300;
}

p, small, li, dt, dd {
	color: var(--color-text-body);
}

p {
	font-size: 1.5rem;
}

small {
	font-size: 1rem;
}

a {
	color: var(--color-text-link);
}

a:active,
a:hover,
a:focus {
	color: var(--color-text-link-active);
}

a:visited {
	color: var(--color-text-link-visited);
}
