<div class="content-section">
	<div class="row">
		<h2>About</h2>
		<p>
			I am a software engineer currently living in Portland Oregon that specializes in JavaScript,
			both client-side and on the server running on Node.js. I went to college for two years
			studying web design and development, after which I dropped out to get into the market. I have
			almost a decade of experience working on the web.
		</p>
	</div>
</div>
