<div class="content-section">
	<div class="row">
		<h2>About</h2>
		<p>
			I am a software engineer currently living in Portland Oregon that specializes in JavaScript,
			both client-side and on the server running on Node.js. I went to college for two years
			studying web design and development, after which I dropped out to get into the market. I have
			almost a decade of experience working on the web.
		</p>
		<p>
			I currently own and operate <a href="http://www.umbraengineering.com">Umbra Engineering
			LLC</a>, through which I do all of my business. If you would like to hire me or work with me,
			please <a href="http://www.umbraengineering.com/contact">contact me</a> through Umbra.
		</p>
		<p>
			You can read my blog on topics of web programming and general web development at <a
			href="http://blog.jbrumond.me">http://blog.jbrumond.me</a>.
		</p>
	</div>
</div>
<div class="content-section">
	<div class="row">
		<h2>Open Source</h2>
		<p>
			I work on many open source works, most of which can be found on my {{github "kbjr"
			"Github Profile" }}. Some of my favorites are listed below.
		</p>
	</div>
	<div class="row open-source">
		<div class="four columns">
			<div class="panel">
				<h3>{{github "kbjr/DragDrop" "DragDrop" }}</h3>
				<p>
					A JavaScript micro-framework for adding drag-and-drop functionality to elements
					for advanced UI development.
				</p>
			</div>
		</div>
		<div class="four columns">
			<div class="panel">
				<h3>{{github "kbjr/class.js" "Classes" }}</h3>
				<p>
					A simple JavaScript class system with features like classical inheritence, mixin-based
					multiple inheritence, namespacing, and super. (Works in both browsers and Node)
				</p>
			</div>
		</div>
		<div class="four columns">
			<div class="panel">
				<h3>{{github "kbjr/polyfill.js" "Polyfill.js" }}</h3>
				<p>
					A very lightweight polyfill framework for client-side JavaScript.
				</p>
			</div>
		</div>
	</div>
</div>