<div class="content-section">
	<div class="row">
		<h2 class="big-heading">
			Professional Web<br />
			Application Development
		</h2>
		<p>
			I work in the web, building everything from simple websites to full-blown, complex web
			applications.
		</p>
	</div>
</div>
