<div class="row">
	<div class="twelve columns">
		<h2>Skills</h2>
		<ul>
			<li>JavaScript (client-side and Node.js)</li>
			<li>Web Development (HTML5 and CSS3)</li>
			<li>Web Application Development</li>
			<li>MySQL and non-SQL Databases (namely redis and mongo / mongoose)</li>
			<li>Linux, Windows, and Mac Computers</li>
			<li>Command-line use and System Administration</li>
		</ul>

		<h2>Summary</h2>
		<p>
			Software engineer, specifically in the area of web development; Specializing in JavaScript development (client-side and
			Node.js) and client / server communications (REST / AJAX / web sockets). Nine years of experience in web development.
		</p>

		<h2>Education</h2>
		<div class="section">
			<h3>Clark College <small>(Vancouver WA) 2008 - 2010</small></h3>
			<p>
				Studied web design and development for two years.
			</p>
		</div>

		<h2>Recent Experience</h2>
		<div class="section">
			<h3>Front-end Developer at viaLanguage</h3>
			<small>October 2012 - Present</small>
			<p>
				Developed user interface for several web applications using a combination of jQuery, Underscore, and other libraries.
			</p>
		</div>
		<div class="section">
			<h3>Owner and Lead Engineer at Umbra Engineering</h3>
			<small>June 2012 - Present</small>
			<p>
				Owned and operated; A company specializing in JavaScript and Node.js development.
			</p>
		</div>
		<div class="section">
			<h3>Software Engineer (Independent Contractor) at Thought Propulsion</h3>
			<small>February 2011 - February 2012</small>
			<p>
				Client-side JavaScript development, web application optimization, added new features to dynamic web application. Worked
				with Dojo web framework.
			</p>
		</div>

		<h2>Open Source Works</h2>
		<p>
			Developed several open source works which can be found on GitHub (<a href="https://github.com/kbjr">https://github.com/kbjr</a> and
			<a href="https://github.com/UmbraEngineering">https://github.com/UmbraEngineering</a>).
		</p>
	</div>
</div>