<div class="row">
	<div class="twelve columns">
		<h2>Summary</h2>
		<p>
			Software engineer, specifically in the area of web development; Specializing in JavaScript development (client-side and Node.js) and client / server communications (REST / AJAX / web sockets). Nine years of experience in web development.
		</p>
		<ul>
			<li>
				6+ years of web development (HTML5 and CSS3) and experience with cross-browser development (including experience writing code to support IE)
			</li>
			<li>
				6 years of JavaScript Experience (client-side and Node.js); Experience with several frameworks and libraries such as jQuery, Underscore/Lodash, and Dojo, as well as writing custom framework code
			</li>
			<li>
				Experience with client-side MVC frameworks such as Backbone.js
			</li>
			<li>
				Web application development writing RESTful APIs on the server as well as writing client-side code to consume RESTful API endpoints
			</li>
			<li>
				5+ years experience using MySQL
			</li>
			<li>
				2+ years experience using No-SQL Databases (namely redis and mongo / mongoose)
			</li>
			<li>
				Capable of using Linux, Windows, and Mac Computers
			</li>
			<li>
				Command-line use, system administration, and shell scripting
			</li>
			<li>
				5+ years experience with PHP writing website backends
			</li>
			<li>
				3+ years experience with Python as a tool for writing command-line tools
			</li>
		</ul>

		<h2>Skills</h2>
		<div class="section">
			<dl>
				<dt><h3>Languages</h3></dt>
				<dd>
					HTML, CSS, JavaScript, PHP, Python, SQL
				</dd>

				<dt><h3>Technologies</h3></dt>
				<dd>
					JSON, AJAX, Web Sockets, MVC, Node.js
				</dd>

				<dt><h3>Frameworks/Libraries</h3></dt>
				<dd>
					jQuery, Underscore/Lodash, Expressjs, Backbone.js, Bootstrap, Foundation, Wordpress
				</dd>

				<dt><h3>Tools</h3></dt>
				<dd>
					Git, SublimeText, Grunt, Make, Pivotal Tracker
				</dd>

				<dt><h3>OS</h3></dt>
				<dd>
					Ubuntu Linux, Windows, Mac, DOS, Debian
				</dd>
			</dl>
		</div>

		<h2>Education</h2>
		<div class="section">
			<h3>Clark College <small>(Vancouver WA) 2008 - 2010</small></h3>
			<p>
				Studied web design and development for two years.
			</p>
		</div>

		<h2>Recent Experience</h2>
		<div class="section">
			<h3>Front-end Developer at viaLanguage</h3>
			<small>October 2012 - June 2013</small>
			<p>
				Developed user interface for several web applications.
			</p>
			<ul>
				<li>
					Built UI using MVC framework/arcitechture, consuming a Python RESTful API.
				</li>
				<li>
					Used several libraries including jQuery and underscore.
				</li>
				<li>
					Designed responsive UI for public facing application, to be consumed on desktop, tablet and mobile.
				</li>
			</ul>
		</div>
		<div class="section">
			<h3>Owner and Lead Engineer at Umbra Engineering</h3>
			<small>June 2012 - Present</small>
			<p>
				Owned and operated; A company specializing in JavaScript and Node.js development.
			</p>
			<ul>
				<li>
					Developed RESTful API server with Node.js split across several processes. Server was developed as a replacement for an old Java server, transitioning endpoints and features from one server to another while avoiding downtime and allowing to new and legacy server to communicate via a Redis bus.
				</li>
				<li>
					Developed a responsive website UI to replace an old version that did not work correctly on non-standard screen sizes.
				</li>
			</ul>
		</div>
		<div class="section">
			<h3>Software Engineer (Independent Contractor) at Thought Propulsion</h3>
			<small>February 2011 - February 2012</small>
			<p>
				Client-side JavaScript development, web application optimization, added new features to dynamic web application.
			</p>
			<ul>
				<li>
					Entered into the project after it had already been released to clients; Got up to date on the project and making worthwhile updates within a few days.
				</li>
				<li>
					Worked with Dojo web framework.
				</li>
				<li>
					Focused on bug fixes, code optimizations, and new features for the existing user base.
				</li>
				<li>
					Application was built to work on desktop, tablet, and mobile environments.
				</li>
			</ul>
		</div>

		<h2>Open Source Works</h2>
		<p>
			Developed several open source works which can be found on GitHub (<a href="https://github.com/kbjr">https://github.com/kbjr</a> and
			<a href="https://github.com/UmbraEngineering">https://github.com/UmbraEngineering</a>).
		</p>
	</div>
</div>

<div class="row footer">
	<div>Last Updated: 18 Oct. 2013</div>
	<br />
	<div>
		Downloadable formats:
		<a href="/resume.odt" download>odt</a> |
		<a href="/resume.doc" download>doc</a> |
		<a href="/resume.pdf" download>pdf</a>
	</div>
</div>