<div class="content-section">
	<div class="row">
		<h2>Services</h2>
	</div>
	<div class="row services">
		<div class="four columns">
			<div class="panel">
				<h3>Node.js Application Development</h3>
				<p>
					I can build you a full application from scratch front and back using Node.js and
					client-side JavaScript.
				</p>
			</div>
		</div>
		<div class="four columns">
			<div class="panel">
				<h3>Website Development</h3>
				<p>
					I can also build you a pretty awesome interactive website.
				</p>
			</div>
		</div>
		<div class="four columns">
			<div class="panel">
				<h3>JavaScript Component Development</h3>
				<p>
					If you don't need an entire application or website built, but just need a single
					component (like a widget or other standalone piece), I can do that too.
				</p>
			</div>
		</div>
		<p>
			Think one of these sounds like what you want? <a href="/contact">Contact me</a> to request
			a quote for your project.
		</p>
	</div>
</div>
